[Desktop Entry]
Name=LibrePods
Exec=librepods
Icon=me.kavishdevar.librepods
StartupWMClass=me.kavishdevar.librepods
Type=Application
Categories=Utility;
